<div class="comic__container">
  <span class="leftarrow__container arrow__container" id="leftarrow" aria-controls="comic__images"
    title="Go previous page" aria-describedby="leftarrow-description" tabindex="0" role="button">
    <img src="{{rightArrow}}" alt="Go previous page">
    <span class="leftarrow-description sr-only" id="leftarrow-description" aria-hidden="true">Go previous image</span>
  </span>
  <div id="comic__images">
    <div id="comicPaginator" class="comic__paginator paginator"></div>
  </div>
  <span class="rightarrow__container arrow__container" id="rightarrow" aria-controls="comic__images"
    title="Go next page" aria-describedby="rightarrow-description" tabindex="0" role="button">
    <img src="{{rightArrow}}" alt="Go next page">
    <span class="rightarrow-description sr-only" id="rightarrow-description" aria-hidden="true">Go next image</span>
  </span>
</div>
