<div class="stages__container general__container">
  <div class="stages__title general__title">
    <h2>Los escenarios</h2>
  </div>
  <div class="stages__content general__content">
    <div class="stages_left_text stages_text general__text">
      <p id="stage_description"> ¿quieres ver cómo se han trabajado los lugares donde sucede la historia? Desde el
        principio, los primeros bocetos, hasta el final, ¡todo en estas fotos!
      </p>
    </div>
    <div class="stages_image__container">
      <div class="stage__images" id="stage-image">
        <img src="{{marta_acting}}">
      </div>
      <div class="stage-arrow__container">
        <span class="toparrow__container stage-arrow" title="Go previous image" id="stage-toparrow"
          aria-controls="stage__images" aria-describedby="stage-toparrow-description" tabindex="0" role="button">
          <img src="{{rightArrow}}" alt="Go previous page">
          <span class="stage-toparrow-description sr-only" id="stage-toparrow-description" aria-hidden="true">Go
            previous image</span>
        </span>
        <div id="stagePaginator" class="paginator stage__paginator"></div>
        <span class="bottomarrow__container stage-arrow" title="Go next image" id="stage-bottomarrow"
          aria-controls="stage__images" aria-describedby="stage-bottomarrow-description" tabindex="0" role="button">
          <img src="{{rightArrow}}" alt="Go next page">
          <span class="stage-bottomarrow-description sr-only" id="stage-bottomarrow-description" aria-hidden="true">Go
            next image</span>
        </span>
      </div>
    </div>
  </div>
</div>
