.about__content {
  display: flex;
}

.about_images {
  display: grid;
  grid-template-columns: 7rem 2.5rem 7rem;
  grid-auto-rows: 7rem 6.5rem;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  img:nth-child(2n) {
    grid-column: 1 / span 2;
    justify-self: end;
  }
  img:nth-child(2n + 1) {
    grid-column: 2 / -1;
    justify-self: start;
  }
  img {
    width: 100%;
    height: auto;
  }
}
