<div class="navbar-logo">
  <h1 class="logo"><a tabindex="2" accesskey="1" href="/">
      <img src="/2008/site/images/logo-w3c-mobile-lg" width="90" height="53" alt="W3C" />
    </a>
    <span class="alt-logo">W3C</span>
  </h1>
</div>
<div class="navbar-links__container"></div>
<div class="navbar-footer"></div>
