.navbar {
  display: flex;
  flex-flow: column;
  position: fixed;
  right: calc(100% - 2.2rem);
  top: 0;
  height: 100%;
  overflow-y: auto;
  padding: 0 2rem 0 0;
  text-align: center;
  transition: transform 0.5s ease-in;
  transform: translateX(0);
  z-index: 100;
  background-color: var(--light-color);
  background-clip: content-box;
  direction: rtl;
  .menu-trigger {
    padding: 0.5rem 0.2rem;
  }
  & > *:not(.menu-trigger) {
    padding: 0.5rem;
  }
  &.is-active {
    transform: translateX(100%) translateX(-2.2rem);
  }
}

.navbar-logo {
  margin-bottom: 2rem;
  img {
    max-width: 100%;
  }
}

.navbar-links__container {
  flex: 1;
  margin: 0.5rem 0;
}

.navbar-link__item {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.7rem 0;
  &:not(:last-child) {
    border-bottom: 1px solid var(--darkgreen-color);
  }
  a {
    cursor: pointer;
    white-space: nowrap;
  }
}

.navbar-social__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 7rem;
  margin: auto;
}

.menu-trigger {
  position: fixed;
  top: 2rem;
  left: calc(100% - 2rem);
  width: 2rem;
  cursor: pointer;
  background-color: var(--light-color);
  outline: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  img {
    max-width: 100%;
    transition: transform 0.5s linear;
  }
  &.is-active {
    img {
      transform: scaleX(-1);
    }
  }
}

.navbar__overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  z-index: 10;
  animation: fadein 0.5s;
  cursor: pointer;
}

.submenu {
  display: none;
  max-width: calc(100% - 1rem);
  margin: 0.5rem auto 0 auto;
  .navbar-link__item {
    font-size: 0.8rem;
    &:not(:last-child) {
      border-bottom: 1px solid var(--green-color);
    }
  }
  &.is-active {
    display: block;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
