<div class="navbar-logo">
  <h1 class="logo">
    <a tabindex="2" accesskey="1" href="/"><img src="{{bigLogo}}" alt="Corre! que no llegas" /></a>
    <span class="alt-logo sr-only">Corre! que no llegas</span>
  </h1>
</div>
<nav class="navbar-links__container">
  <div class="navbar-link__item"><a href="comic"> C&oacute;mic </a></div>
  <div class="navbar-link__item"><a href="arte"> El arte</div>
  <div class="navbar-link__item"><a href="about"> Sobre el proyecto </a></div>
  <div class="navbar-link__item"><a href="shop"> Tienda </a></div>
</nav>
<div class="navbar-social__container">
  <div class="navbar-social__item">
    <a href="https://www.instagram.com/istreart001/"><img src="{{smallInstagram}}"
        alt="https://www.instagram.com/istreart001/"></a>
  </div>
  <div class="navbar-social__item">
    <a href="https://www.facebook.com/Istreart"><img src="{{smallFacebook}}"
        alt="https://www.facebook.com/Istreart/"></a>
  </div>
</div>
